@charset "UTF-8";

body {
    background-color: #dcf6f7;
    font-family: Arial, Helvetica, sans-serif;
}
h1#main {
    text-align: center;
    background-color: #008F8C;
    color: #fff;
}

h1 {
    color: #23606E;
}

.basic {
    color: #fff;
    background-color: #53996f;
}

.intermediary{
    color: #fff;
    background-color: #98953e;
}

.advanced {
    color: #fff;
    background-color: #661515;
}

p {
    color: #023535;
}
